*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;


}
.container{

    width: 90vw;
    max-width: 90vw;
    height: 80vh;

}
ul{
    list-style-type: none;
    a{
        text-decoration: none;
        color: #fff;
        background-color: orangered;
        padding: 20px 20px;
        width: 300px;
        border-radius: 8px;
        cursor: pointer;
    }
    a:hover{
        background-color: rgb(255, 81, 0);
        transform: scale(1.05);
    }
}
ul li{
    margin: 10px;
    padding: 20px;
    display: inline-flex;
    /* height: 80px; */
    width: 300px;
}