@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(125deg, #00b309 , #b1231e);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
.search{
    position: relative;
    height: 50px;

}
.search .input{
    background-color: #fff;
    border: 0;
    font-size: 1.8em;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-radius: 50px;
}
.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 1.8em;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.btn:focus, 
.input:focus{
    outline: none;
}
.search.active .input{
    width: 250px;
    /* height: 50px; */
}
.search.active .btn{
    transform: translateX(200px);
}